/*
@font-face {
    font-family: 'police_corps';
    src: url('/polices/GenBkBasR.ttf') format('ttf');
}

@font-face {
    font-family: 'police_corps_bold';
    src: url('/polices/GenBkBasB.ttf') format('ttf');
}

@font-face {
    font-family: 'police_corps_italic';
    src: url('/polices/GenBkBasI.ttf') format('ttf');
}

@font-face {
    font-family: "police_corps_bold_italic";
    src: url('/polices/GenBkBasBI.ttf') format("ttf");
}

@font-face {
	font-family: "police_titre";
	src: url('/polices/YesevaOne-Regular.ttf') format('ttf');
}
*/



#site-inner
{
	display: flex;
	
}

body
{

	font-family: 'Gentium Book Basic', serif, 'Roboto', serif;

	
}

#bloc_page
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

header
{
	
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}


.bandeau_haut
{
	display: flex;
	flex-direction: row;
	justify-content: space-between; /* permet de mettre le menu tout à droite*/
	position: fixed;
	z-index:2;
	width:100%;
	height: 150px;
	background-color: rgba(70,74,84,0.5);	
}

.bandeau_bas
{
	display: flex;
	overflow: hidden;
	align-items: baseline;
	
	width:100%;
	z-index: -1;
	margin-bottom: auto;
	
	
}

.bandeau_bas_img
{
	display: flex;
	overflow: hidden;
	align-items: baseline;
	
	width:100%;
	z-index: -1;
	padding-bottom: 40%;
	background-image: url('images/macarons_accueil.JPG');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	
	
}



#logo
{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: 15px;

}

#logo img
{
	height: 120px;

}

	



/* menu   */
nav
{
	position: sticky;
	margin-top: 10px;
	margin-right: 20px;
	width: 70%;
	
}


nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    flex: 1 1 auto;
    text-align: center;
    position: relative;
}

nav a{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
	text-decoration: none;  /* pour enlever le trait sous le lien  */
	font-size: 1.5em;
	font-family: 'Yeseva One', serif;
}

nav a:hover{
    color: #D4AF37;
    border-bottom: 2px solid #D4AF37;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #D4AF37;
    background-color: #353636;
    position: absolute;
    z-index: 10;
	
}
.menu_deroulant:hover .sous{
    display: flex;
    flex-flow: column wrap;
}
.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: #5d5e5e;
    border-bottom: 2px solid #D4AF37;
}


.sous-2{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: #353636;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.menu_deroulant-2:hover .sous-2{
    display: flex;
    flex-flow: column wrap;
}
.sous-2 li{
    flex: 1 1 auto;
    text-align: left;
}
.sous-2 a{
    padding: 10px;
    border-bottom: none;
}
.sous-2 a:hover{
    border-bottom: none;
    background-color: #5d5e5e;
	border-bottom: 2px solid #D4AF37;
	
}

.menu_toggle
{
	display: none;
}

@media screen and (max-width: 400px)
{
.menu_toggle {
	display: flex;
}
nav ul 
{
	display: none;
}
}


p
{
	font-size: 1.3em;
	font-family: 'Gentium Book Basic', serif, 'Roboto', serif;
	color: #76787a;
}

h2
{
	font-family: 'Yeseva One', serif;
	font-weight: bold;
	font-size: 1.8em;
	text-align: center;
	color: rgb(65,65,65);
}

.ensemble_articles
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	background: #ffffff;
	
}

.encart_articles
{

	text-align: justify;
	overflow: hidden;
	overflow-wrap: break-word;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex:1;
	justify-content: space-between;
	/*min-width: 700px;*/
	

}

@media only screen and (max-width: 1200px) {.encart_articles
{
	width: 100%;
	min-width: 600px;
	max-width: 1200px;
}
}

@media only screen and (min-width: 1200px and max-width: 1500px) {.encart_articles
{
	width: 50%;
	min-width: 700px;
}
}

@media only screen and (min-width: 1501px) {.encart_articles
{
	width: 33.3333333%;
	min-width: 500px;
}
}

.encart_articles:hover
{
	
	box-shadow: inset 0px 0px 3px 12px rgba(70,74,84,0.6);
	-webkit- box-shadow: inset 0px 0px 3px 12px rgba(70,74,84,0.6); /* pour firefox */
	-moz- box-shadow: inset 0px 0px 3px 12px rgba(70,74,84,0.6); /* pour chrome, safari et android */
}



.encart_articles .img_recette
{
	display: flex;
	width: 50%;
}

/* taille 1 article sur la longueur*/
@media only screen and (max-width: 1200px) {.encart_articles:nth-of-type(2n+1) .img_recette
{
	order: 2;
}
}

/* taille 2 articles sur la longueur*/
@media only screen and (min-width: 1200px and max-width: 1500px) {.encart_articles:nth-of-type(4n+3) .img_recette, .encart_articles:nth-of-type(4n+4) .img_recette
{
	order: 2;
}
}


/* taille 3 articles sur la longueur*/
@media only screen and (min-width: 1501px) {.encart_articles:nth-of-type(6n+4) .img_recette, .encart_articles:nth-of-type(6n+5) .img_recette, .encart_articles:nth-of-type(6n+6) .img_recette
{
	order: 2;
}
}

/* taille 1 article sur la longueur + tout petit*/
@media only screen and (max-width: 680px) {.encart_articles
{
	flex-direction: column;
}
}


.img_recette_contenu
{
	display: flex;
	overflow: hidden;
	align-items: baseline;
	width:100%;
	height: 100%;
	background-attachment: local;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}


.encart_articles .texte_recette
{
	display: flex;
	flex:1;
	flex-direction: column;
	padding: 10px;
	width: 50%;

}

.texte_recette p
{
	display: flex;
	overflow: hidden;
	overflow-wrap: break-word;
	margin: auto;
	width: 75%;
	height: 75%;
	text-align: justify;
	line-height: 1.4em;
	
}

.encart_articles .bouton_lire_plus
{
	width: 40%;
	/*background-color: rgb(207, 167, 50);*/
	background-color: 	#D4AF37;
	font-family: 'Gentium Book Basic', serif, 'Roboto', serif;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:0.35em 1.2em;
	border:0.1em solid #FFFFFF;
	margin:auto;
	margin-bottom: 10px;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-size: 1.1em;
	color:#FFFFFF;
	text-align:center;
	transition: all 0.1s;
	text-transform: uppercase;
}

a.bouton_lire_plus:hover{
	color:#000000;
	background-color:#FFFFFF;
	border: 2px solid rgb(207, 167, 50);
}

.debut_article
{
	height: 400px;
	font-family: 'Gentium Book Basic', serif, 'Roboto', serif;
}


.debut_article p
{
	display: flex;
	overflow: hidden;
	overflow-wrap: break-word;
	margin: auto;
	width: 75%;
	height: 90%;
	text-align: justify;
	line-height: 1.5em;
	font-size: 1.6em;
}
	
	
a:visited
{
	
}



#articles_precedents
{
	background: rgb(78, 81, 82);
	padding: 1em;
}

#articles_precedents div
{
	display: flex;
	padding: 0;
}

#articles_precedents button
{
	margin: auto;
	font-family: 'Gentium Book Basic', serif, 'Roboto', serif;
	font-size: 1.3em;
	color: #ffffff;
	background-color: #353636;
	transition: opacity .3s;
	padding: 0.5em;
	width: 20%;
	

	display:flex;
	justify-content: center;
	align-items: center;
	margin:auto;
	border-radius:0.12em;
	border: #353636;
	box-sizing: border-box;
	text-decoration:none;
	text-align:center;
	text-transform: uppercase;
	
}

#articles_precedents button:hover
{
	background-color: #5d5e5e;
}


footer
{
	background: rgb(78, 81, 82);
	display: flex;
	flex-direction: column;
	color: #FFFFFF;

}

#footer-top
{
	display:flex;
	flex-direction: row;
	flex-wrap: non-wrap;
	flex:1;
}

footer section
{
	/*
	display: flex;
	flex:1;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
	*/

}

footer div
{
	/*border-top: 1px solid #ffffff;
	flex:1;
	text-align: center;*/
}



/* commentaire */