
#site-inner
{
	background: #ffffff;
	right: 0;
	width: 50%;
	position: relative;
	
}



.corps_article
{
	text-align: justify;
}

.article-inner
{
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: relative;
	
}

.article-inner:before
{
	left: 50%;
	position: absolute;
	top:0;
}

.article-inner:after
{
	background: yellow;
	height: 36px;
	width: 36px;
}



.article-droite
{
	display: flex;
	flex: 1;
	flex-flow: column;

	margin-top: 150px;
	margin-left: 20px;	
	font-size: 1.3em;

}

.article-recette
{
		overflow-x: hidden;
}

.citation
{
	border-left: 2px solid black;
	padding: 10px;
}

.img_principale
{
	display: flex;
	flex: 1;
}

.img_principale_contenu
{
	display: flex;
	overflow: hidden;
	position: fixed;
	align-items: baseline;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	left: 0;
	flex:1;
	width: 50%;
}

.encart-titre
{
	z-index: 10;
	border-top: 1px solid #FFFFFF;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 50%;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0;
	padding-bottom: 6rem;

}

.encart-titre-contenu
{
	font-family: 'Yeseva One', serif;
	font-size: 2rem;
	color: #FFFFFF;
	margin-left: 5rem;
	margin-top: 2rem;
	margin-right: 5rem;
	border-bottom: 2px solid #FFFFFF;
	
}

footer
{
	bottom: 0;
	
}

